<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="es">
<head>
	<meta charset="UTF-8">	
	<title>Acerca de mí</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>			
		<h1>ESCUELA DE NEGOCIOS MI MENTE MILLONARIA</h1>
		<figure id="avatar" >
			<img src="../static/img/avatarmi.png">
		</figure>				
	</header>	

	<nav>		
		<ul>
			<li><a href="../index.html">Inicio</a></li>
			<li><a href="acerca.html">Acerca de mí</a></li>
			<li><a href="como_funciona.html">¿Cómo funciona esto?</a></li>
			<li><a href="por_que.html">¿Por qué emgoldex?</a></li>
			<li><a href="opcion_oro.html">Opción de oro</a></li>
			<li><a href="educacion.html">Educación</a></li>
			<li><a href="videos_interes.html">Videos de interés</a></li>
			<li><a href="contacto.html">Contacto</a></li>				
		</ul>			
	</nav>	

	<section class="acerca_de_mi">
		<h2>Julio César Cubides</h2>
		<hr>
		<p>Soy Julio Cesar Cubides, Colombiano, me considero a mí mismo como un emprendedor y estudiante eterno y por ello estoy comprometido a aprender y crecer constantemente, soy una persona abierta a los cambios de esta nueva era (la del Conocimiento). 
Provengo de una familia humilde y numerosa, en donde el dinero escaseaba y los paradigmas y  temores  para salir adelante abundaban, hoy soy padre de familia, tengo un hermoso hijo y una linda esposa, he transcurrido por esta hermosa vida buscando respuestas que desde niño siempre han estado en mi corazón y en mi mente, pero es ahora en  mi edad adulta que he comenzado a dar respuestas a las mismas; y siempre ha habido dos aspectos fundamentales con los cuales me he encontrado: <br>DINERO Y FELICIDAD.<br><br>
Tengo a Jehová Dios como mi primera fuente de fe, esperanza, gratitud e inspiración.<br>
Quiero invitarlo hoy a que recorramos juntos un camino, un nuevo estilo de vida basado en la felicidad y el dinero.<br>
Dinero como herramienta 
Felicidad como actitud y pasión.<br>
Por eso quiero compartir contigo esta página web y deseo que tú también puedas compartir aquí y emprender aquí tu camino de éxito; <br><br>

<span class="bienvenido">Bienvenido<span>
	</p>
	<p class="acerca_de_mi_cuadro">Sé que ninguna riqueza o posesión material puede durar mucho, a menos que se levante sobre la verdad y la justicia, en consecuencia no participaré en ningún negocio o transacción  que no beneficie a todos los que en él se encuentren; tendré éxito en encontrar herramientas y  personas que estén dispuestos a aportar y dar su servicios a través de mi buena disposición para servir a los demás; eliminare el odio, los celos, el egoísmo y la envidia, ofreciendo amor a toda la humanidad, lograré que los demás crean en mi porque yo creeré en ellos y en mí mismo.</p> 	
	<p class="acerca_de_mi_detalle">Asumí esta declaración como parte de mi vida, todos los días trabajo por ser coherente con ella. <br>
Tomada del libro Piense y hágase rico     - Napoleón Hill  -
	</p>

	<a class="registro" href="http://cesarcubides.emgoldex.com/user/registration.php" target="_blank">Regístrate y compra</a>

	</section>		

	<footer>
			<p class="footer-texto">			
			Si permites que el hábito de aprender te lleve a la acción constante podrás vivir cumpliendo tus sueños en medio de la “aparente escasez”, pues para ti no habrá tal.</p>
			<p class="credit">Desarrollo por Diego Celis</p>
		</footer>

	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/formulario.js"></script>

</body>
</html>