<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>	
	<title>CONTACTO</title>	
</head>
<body>
	<header>			
		<h1>ESCUELA DE NEGOCIOS MI MENTE MILLONARIA</h1>
		<figure id="avatar" >
			<img src="../static/img/avatarmi.png">
		</figure>				
	</header>	

	<nav>		
		<ul>
			<li><a href="../index.html">Inicio</a></li>
			<li><a href="acerca.html">Acerca de mí</a></li>
			<li><a href="como_funciona.html">¿Cómo funciona esto?</a></li>
			<li><a href="por_que.html">¿Por qué emgoldex?</a></li>
			<li><a href="opcion_oro.html">Opción de oro</a></li>			
			<li><a href="educacion.html">Educación</a></li>
			<li><a href="videos_interes.html">Videos de interés</a></li>
			<li><a href="contacto.html">Contacto</a></li>				
		</ul>								
	</nav>	

	<section class="perfil_redes">
		<h2>Redes Sociales</h2>
		<hr>
		<p>Puedes visitar y seguir la empresa en redes sociales</p>
		<a class="perfil_redes_link" href="https://www.youtube.com/channel/UCGySKDxQsq8a-BYe9ba2QXw" target="_black"><img src="../static/img/youtube.png"></a>
		<a class="perfil_redes_link" href="https://www.facebook.com/mimentemillonaria?ref=aymt_homepage_panel" target="_black"><img src="../static/img/facebook.jpg"></a>
		<a class="perfil_redes_link" href="#" target="_black"><img src="../static/img/skype.png"></a>
	</section>	

	<h2 class="form_titulo">Contacto</h2>
	<hr class="form_hr">
	<p class="form_descripcion">Te invito a que te hagas socio de mi equipo</p>
	<form action="formulario.php" class="form" id="formulario" method="post">
		<input type="text" name="nombre" placeholder="Nombre" class="form_nombre"required>
		<input type="text" name="apellido" placeholder="Apellido" class="form_apellido" required>
		<input type="text" name="Pais" placeholder="País" class="form_pais" required>
		<input type="email" name="email" placeholder="Email" class="form_email" required>
		<input type="tel" name="telefono" placeholder="Teléfono" class="form_tel" required>
		<textarea name="mensaje" placeholder="Mensaje" class="form_mensaje" required></textarea>
		
		<input type="submit" value="Contáctame "class="form_submit">
	</form>

	<footer>
		<p class="footer-texto">			
		Si permites que el hábito de aprender te lleve a la acción constante podrás vivir cumpliendo tus sueños en medio de la “aparente escasez”, pues para ti no habrá tal.</p>
		<p class="credit">Desarrollo por Diego Celis</p>
	</footer>

	<!--
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/formulario.js"></script>-->

</body>
</html>