<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximun-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<title>Educación</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>			
		<h1>ESCUELA DE NEGOCIOS MI MENTE MILLONARIA</h1>
		<figure id="avatar" >
			<img src="../static/img/avatarmi.png">
		</figure>				
	</header>	

	<nav>		
		<ul>
			<li><a href="../index.html">Inicio</a></li>
			<li><a href="acerca.html">Acerca de mí</a></li>
			<li><a href="como_funciona.html">¿Cómo funciona esto?</a></li>
			<li><a href="por_que.html">¿Por qué emgoldex?</a></li>
			<li><a href="opcion_oro.html">Opción de oro</a></li>
			<li><a href="educacion.html">Educación</a></li>
			<li><a href="videos_interes.html">Videos de interés</a></li>
			<li><a href="contacto.html">Contacto</a></li>				
		</ul>							
	</nav>	

	<section class="videos">
		<h2>Videos de interés</h2>
		<hr>
		<div class="frame_videos">
		<iframe  class ="columna_1" src="https://www.youtube.com/embed/Y-9Bb9SgvYw" frameborder="0" allowfullscreen></iframe>		
		<iframe class ="columna_2" src="https://www.youtube.com/embed/pN8IY6MXeUU" frameborder="0" allowfullscreen></iframe>	
		
		</div>	
		<div class="frame_videos">
			<iframe class ="columna_1" src="https://www.youtube.com/embed/CS443MxiiH8" frameborder="0" allowfullscreen></iframe>
			<iframe class="columna_2" src="https://www.youtube.com/embed/6dLKIHhv5aA" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="frame_videos">
			<iframe class="columna_1" src="https://www.youtube.com/embed/CMBt2vJzjTQ" frameborder="0" allowfullscreen></iframe>
		</div>	
		
			<a class="columna_img" href="http://www.intergoldteam.com/inicio.html" target="_black"><img src="../static/img/logo_igt.png"></a>
		

		<h2>Libros</h2>	
		<hr>
		<h3 class="libros">También te recomendamos leer</h3>
		<ul>
			<li>Padre Rico Padre Pobre (Robert T. Kiyosaki)</li>
			<li>Cuadrante del flujo del dinero (Robert T. Kiyosaki)</li>
			<li>Como ganar amigos e influir sobre las personas  (Dale Carnegie )</li>
			<li>Los cuatro Acuerdos (Miguel Ruiz)</li>
			<li>El monje que vendió su Ferrari (Robin Sharma)</li>
			<li>Guía para invertir en oro y plata (Michael Maloney)</li>
			<li>Escuela de negocios (Robert T. Kiyosaki) </li>
			<li>Antes de renunciar a tu empleo (Robert T. Kiyosaki)</li>
			<li>¿Qué harías si no tuvieras miedo?  (Borja Vilaseca)</li>
		</ul>

		<p class="cita">“Te animamos para que sigas Tu carrera al Éxito”</p>
	<a class="registro" href="http://cesarcubides.emgoldex.com/user/registration.php" target="_blank">Regístrate y compra</a>
	</section>

	<footer>
		<p class="footer-texto">			
		Si permites que el hábito de aprender te lleve a la acción constante podrás vivir cumpliendo tus sueños en medio de la “aparente escasez”, pues para ti no habrá tal.</p>
		<p class="credit">Desarrollo por Diego Celis</p>
	</footer>

</body>
</html>