<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="es">
<head>
	<meta charset="UTF-8">	
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<title>Opción de oro</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>			
		<h1>ESCUELA DE NEGOCIOS MI MENTE MILLONARIA</h1>
		<figure id="avatar" >
			<img src="../static/img/avatarmi.png">
		</figure>				
	</header>	

	<nav>		
		<ul>
			<li><a href="../index.html">Inicio</a></li>
			<li><a href="acerca.html">Acerca de mí</a></li>
			<li><a href="como_funciona.html">¿Cómo funciona esto?</a></li>
			<li><a href="por_que.html">Una Opción</a></li>
			<li><a href="opcion_oro.html">La Visión</a></li>
			<li><a href="educacion.html">Educación</a></li>
			<li><a href="videos_interes.html">Videos de interés</a></li>
			<li><a href="contacto.html">Contacto</a></li>				
		</ul>							
	</nav>	

	<section class="por_que">
		<h2>Opción de oro</h2>
		<hr>
		<p>De las múltiples opciones u oportunidades que le pueden presentar a cualquiera de nosotros hoy en día, usted puede optar por desarrollar el negocio propuesto e implementado por Global InterGold  de forma paralela con sus labores cotidianas, si lo analiza comprenderá que al compararlo con otras opciones encontrará que ofrece beneficios como ningún otro, algunos de ellos:
		<ul>
			<li>El producto es indiscutible,  apreciado y valorado “ORO”</li>
			<li>Las ganancias son altas si lo cotejamos con un negocio tradicional.</li>
			<li>No tendrá que distribuir, vender, consumir o llenarse de productos.</li>
			<li>Podrá alcanzar sus sueños y proyectos personales.</li>
			<li>La formación que recibe de su equipo de trabajo y  la educación que se comparte  es de gran valor para su vida personal y económica.</li>
			<li>Este negocio ya está comprobado por miles de clientes alrededor del mundo.</li>
			<li>El sistema de negocio y la compañía ofrece estabilidad y fiabilidad en sus procesos.</li>
			<li>Un modelo de negocio del siglo 21, conocida como (La Era del Conocimiento, ó la era de la información también conocida como la era digital)</li>
			<li>Estará usted rodeado de personas prosperas y positivas</li>
			<li>Ayudará a otras personas a que alcancen sus  propios metas</li>
			<li>Dejará de vivir con temores y empezará a  vivir sus sueños.</li>
		</ul>
		</p>
		<p>Permítame ayudarle y demostrarle con hechos, no con promesas, que cuenta usted con un aliado para sacar adelante este proyecto, esta nueva oportunidad, si usted elige convertirse en un buen receptor  e inicia la ACCION. Mi deseo es que usted gane dinero, crezca como individuo y que lo duplique, es decir ayude también a otros a través del trabajo en equipo.<br><br>
		Al momento de usted recibir 7.000 euros en oro de inversión y con la posibilidad de venderlos a la compañía nuevamente, usted estará en la capacidad de:
		</p>
		<ol>
			<li>Salir de deudas “malas” si es que las tiene.</li>
			<li>Ser la persona correcta listo para aprovechar las oportunidades de inversión que se le presenten</li>
			<li>Crear unos buenos hábitos financieros.</li>
			<li>Apartarse del promedio, es decir tener carácter propio e incrementar sus conocimientos sobre finanzas personales.</li>
			<li>Brindar un apoyo, ayudar a otros hacer lo mismo.</li>
			<li>Repetir este ciclo las veces que usted mismo se lo proponga;  usted y su familia tendrán un mejor nivel de vida.</li>
			<li>Fabricará usted su propio colchón financiero para su futuro.</li>
		</ol>	
		<p>Yo quiero trabajar con usted, mi intención es ayudarlo, ESTE NEGOCIO NO FUNCIONA DE OTRA MANERA, quiero ser su amigo, no una persona que lo invita a un negocio mientras usted saca su dinero e ingresa y luego lo abandona,  ¡No! esa no es mi ética de trabajo ni de vida.<br><br>
		Toda la información que usted requiera en relación a esta oportunidad económica, estoy dispuesto a comunicarla con usted y el equipo, y si no tengo las respuesta mi trabajo es conseguirla y así aprendemos todos.
</p>

		<a class="registro" href="https://globalintergold.com/user/registration2.php" target="_blank">Regístrate y compra</a>	
	</section>	

	<footer>
		<p class="footer-texto">			
		Si permites que el hábito de aprender te lleve a la acción constante podrás vivir cumpliendo tus sueños en medio de la “aparente escasez”, pues para ti no habrá tal.</p>
		<p class="credit">Desarrollo por Diego Celis</p>
	</footer>

</body>
</html>