<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="es">
<head>
	<meta charset="UTF-8">	
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
	<title>Videos</title>	
</head>
<body>
	<header>			
		<h1>ESCUELA DE NEGOCIOS MI MENTE MILLONARIA</h1>
		<figure id="avatar" >
			<img src="../static/img/avatarmi.png">
		</figure>				
	</header>	

	<nav>		
		<ul>
			<li><a href="../index.html">Inicio</a></li>
			<li><a href="acerca.html">Acerca de mí</a></li>
			<li><a href="como_funciona.html">¿Cómo funciona esto?</a></li>
			<li><a href="por_que.html">Una Opción</a></li>
			<li><a href="opcion_oro.html">La Visión</a></li>
			<li><a href="educacion.html">Educación</a></li>
			<li><a href="videos_interes.html">Videos de interés</a></li>
			<li><a href="contacto.html">Contacto</a></li>				
		</ul>							
	</nav>	

	<section class="videos">
		<h2>Videos de interés</h2>
		<hr>
		<div class="frame_videos">
		<iframe class ="columna_1"src="https://www.youtube.com/embed/8nZ5xQx0Ycw" frameborder="0" allowfullscreen></iframe>		
		<iframe class ="columna_2" src="https://www.youtube.com/embed/UpRBYSTou4w" frameborder="0" allowfullscreen></iframe>	
		
		</div>	
		<div class="frame_videos">
			<iframe class ="columna_1" src="https://www.youtube.com/embed/35hJ1dQDBpo" frameborder="0" allowfullscreen></iframe>
			<iframe class ="columna_2" src="https://www.youtube.com/embed/yZwuMXpSSY4" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="frame_videos">
			<iframe class ="columna_1" src="https://www.youtube.com/embed/BM2IQj0CjgI" frameborder="0" allowfullscreen></iframe>
		</div>	
	</section>	

	<a class="registro" href="https://globalintergold.com/user/registration2.php" target="_blank">Regístrate y compra</a>

	<footer>
		<p class="footer-texto">			
		Si permites que el hábito de aprender te lleve a la acción constante podrás vivir cumpliendo tus sueños en medio de la “aparente escasez”, pues para ti no habrá tal.</p>
		<p class="credit">Desarrollo por Diego Celis</p>
	</footer>

</body>
</html>